<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Настройки соединения с базой данных -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/your_database</property>
        <property name="hibernate.connection.username">your_username</property>
        <property name="hibernate.connection.password">your_password</property>

        <!-- Диалект базы данных (зависит от используемой СУБД) -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Автоматическое создание таблиц в базе данных (не используйте на production) -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Путь к маппинг-файлам сущностей (классов) -->
        <mapping class="org.example.Store" />
        <mapping class="org.example.Warehouse" />
        <mapping class="org.example.Client" />
        <mapping class="org.example.Vendor" />
        <mapping class="org.example.Invoice" />
    </session-factory>
</hibernate-configuration>
